<h1 class="mb-1 restaurant-show-title">{{item.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto" id="restaurants-wrapper">
      <nav class="nav justify-content-end">
        <a class="nav-link px-3" href="./{{item.id}}/edit" data-id="{{this.id}}">Edit</a>
        <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#delete-modal" data-id="{{ item._id }}" data-name="{{item.name}}">Delete</button>
      </nav>
      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{item.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{#if item.location}}
          {{item.location}}
        {{else}}
          尚未填寫
        {{/if}}
        {{#if item.google_map}}
          <a href="{{item.google_map}}" class="text-secondary" target="_blank">
            <i class="fas fa-location-arrow pr-2 fa-xs"></i>
          </a>
        {{else}}
          <a href="#" class="text-secondary" style="cursor: default;">
            <i class="fas fa-location-arrow pr-2 fa-xs"></i>
          </a>
        {{/if}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{#if item.phone}}
          {{item.phone}}
        {{else}}
          尚未填寫
        {{/if}}
      </p>

      <p class="mb-5">
        {{#if item.description}}
          {{item.description}}
        {{else}}
          這家店還沒有任何描述！
        {{/if}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100" src="{{item.image}}" alt="{{item.name}}" style="max-width: 600px;">

      <div class="d-flex justify-content-center">
        <a class="btn btn-major mb-4 text-center" href="/" role="button">Back</a>
      </div>
    </div>
  </div>
</div>